<div class="loading-overlay" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<div class="d-flex align-items-center justify-content-between m-b-16 p-x-20 p-t-16">
    <h3></h3>
    <button mat-icon-button mat-dialog-close class="d-flex justify-content-center" [disabled]="loading">
        <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
    </button>
</div>

<!-- Mostrar formulario si NO es acción de eliminar -->
<mat-dialog-content>
    <mat-card class="cardWithShadow">

        <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="d-flex align-items-center">
                        <mat-icon class="d-flex align-items-center">
                            <i-tabler name="user-circle" class="icon-20 m-r-8 d-flex"></i-tabler>
                        </mat-icon>
                    </div>
                    User Profile
                </ng-template>
                <mat-card-content class="p-y-24">
                    <div class="text-center m-t-12"
                        *ngIf="local_data?.isFirstLogin && local_data?.userRole == 'Applicant'">
                        <mat-card class="p-2 bg-error text-dark border-radius-8">
                            <mat-card-subtitle class="f-s-14">
                                ⚠️ This applicant has not filled out his application.
                            </mat-card-subtitle>
                        </mat-card>
                    </div>
                    <div class="text-center m-t-12"
                        *ngIf="!local_data?.isFirstLogin && local_data?.userRole == 'Applicant'">
                        <mat-card class="p-2 bg-primary text-dark border-radius-8">
                            <mat-card-subtitle class="f-s-14">
                                This applicant has already filled out his information
                            </mat-card-subtitle>
                        </mat-card>
                    </div>


                    <div class="row">

                        <div class="col-sm-6">
                            <mat-card class="cardWithShadow">
                                <mat-card-content class="p-y-24">
                                    <mat-card-title>

                                        <span *ngIf="local_data?.userRole == 'Driver'">
                                            Driver({{ local_data?.identificationNumber }})
                                        </span>
                                        <span *ngIf="local_data?.userRole == 'Manager'">
                                            Manager ({{ local_data?.identificationNumber }})
                                        </span>
                                    </mat-card-title>
                                    <div class="text-center m-t-24">
                                        <img class="rounded-circle" [src]="avatarSrc$(local_data)  | async"
                                            width="45" />
                                    </div>
                                    <mat-card-title>Personal Details</mat-card-title>


                                    <div class="row m-t-24">
                                        <div class="col-sm-6">
                                            <!-- input -->
                                            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Name</mat-label>
                                            <mat-form-field appearance="outline" class="w-100" color="primary">
                                                <input matInput type="text"
                                                    [value]="local_data?.name +' '+local_data?.lastName" />
                                            </mat-form-field>
                                            <!-- input -->

                                            <!-- input -->
                                            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Email</mat-label>
                                            <mat-form-field appearance="outline" class="w-100" color="primary">
                                                <input matInput type="email" [value]="local_data?.email" />
                                            </mat-form-field>
                                            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Social Security</mat-label>
                                            <mat-form-field appearance="outline" class="w-100" color="primary">
                                                <input matInput type="text" [value]="displayedSsn" readonly
                                                    aria-label="Social Security Number"
                                                    [attr.aria-hidden]="!canViewSsn ? 'true' : 'false'" />

                                                <!-- Icono dentro del input -->
                                                <button mat-icon-button matSuffix type="button" (click)="onToggleShow()"
                                                    [attr.aria-pressed]="showSsn" [disabled]="!canViewSsn"
                                                    [matTooltip]="showSsn ? 'Ocultar SSN' : 'Mostrar SSN'">
                                                    <mat-icon>{{ showSsn ? 'visibility_off' : 'visibility' }}</mat-icon>
                                                </button>
                                            </mat-form-field>

                                        </div>
                                        <div class="col-sm-6">
                                            <!-- input -->

                                            <!-- input -->
                                            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Warehouse</mat-label>
                                            <mat-form-field appearance="outline" class="w-100" color="primary">
                                                <input matInput type="text"
                                                    [value]="'('+ local_data?.warehouse.company+ ') '+ local_data?.warehouse.city" />
                                            </mat-form-field>

                                            <!-- input -->
                                            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Phone</mat-label>
                                            <mat-form-field appearance="outline" class="w-100" color="primary">
                                                <input matInput [(ngModel)]="local_data.profile.phoneNumber"
                                                    mask="(000) 000-0000" [dropSpecialCharacters]="true" type="tel" />
                                            </mat-form-field>

                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-sm-6">
                            <mat-card class="cardWithShadow">
                                <mat-card-content class="p-y-24">
                                    <mat-card-title>Bank Account</mat-card-title>
                                    <mat-card-subtitle class="f-s-14"></mat-card-subtitle>
                                    <form class="m-t-24">

                                        <!-- Account Number -->
                                        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Account Number</mat-label>
                                        <mat-form-field appearance="outline" class="w-100" color="primary">
                                            <input matInput type="text" [value]="local_data?.account?.accountNumber"
                                                readonly />

                                            <button mat-icon-button matSuffix type="button"
                                                (click)="copy(local_data?.account?.accountNumber)" matTooltip="Copy">
                                                <mat-icon>content_copy</mat-icon>
                                            </button>
                                        </mat-form-field>

                                        <!-- Routing Number -->
                                        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Routing Number</mat-label>
                                        <mat-form-field appearance="outline" class="w-100" color="primary">
                                            <input matInput type="text" [value]="local_data?.account?.routingNumber"
                                                readonly />

                                            <button mat-icon-button matSuffix type="button"
                                                (click)="copy(local_data?.account?.routingNumber)" matTooltip="Copy">
                                                <mat-icon>content_copy</mat-icon>
                                            </button>
                                        </mat-form-field>

                                    </form>

                                </mat-card-content>
                            </mat-card>
                            <mat-card class="cardWithShadow">
                                <mat-card-content class="p-y-24">
                                    <mat-card-title>Address</mat-card-title>
                                    <mat-card-subtitle class="f-s-14"></mat-card-subtitle>
                                    <form class="m-t-24">
                                        <!-- input -->
                                        <mat-form-field appearance="outline" class="w-100" color="primary">
                                            <input matInput type="text" [value]="
                                                (local_data?.profile?.address || '') + ', ' +
                                                (local_data?.profile?.city || '') + ', ' +
                                                (local_data?.profile?.state || '') + ' ' +
                                                (local_data?.profile?.zipcode || '')
                                            " readonly />
                                        </mat-form-field>
                                        <!-- input -->

                                    </form>
                                </mat-card-content>
                            </mat-card>
                        </div>

                    </div>
                </mat-card-content>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="d-flex align-items-center">
                        <mat-icon class="d-flex align-items-center">
                            <i-tabler name="certificate" class="icon-20 m-r-8 d-flex"></i-tabler>
                        </mat-icon>
                    </div>
                    Documents
                </ng-template>

                <mat-card-content class="p-y-24">
                    <div class="row">

                        <div class="col-lg-3">
                            <mat-card class="cardWithShadow">
                                <mat-card-content class="p-y-24">
                                    <button mat-mini-fab class="bg-light-primary shadow-none rounded icon-48">
                                        <i-tabler name="clipboard-text" class="icon-22 d-flex text-primary"></i-tabler>
                                    </button>
                                    <mat-card-title class="m-t-16">Independent Contractor Agreement </mat-card-title>
                                    <div class="d-flex align-items-center p-y-24 b-b-1">
                                        <div class="m-l-16">
                                            <a [href]="userFromCurrent?.contractSigned" target="_blank"
                                                rel="noopener noreferrer" mat-flat-button color="primary"
                                                class="m-t-24">
                                                See Contract
                                            </a>
                                        </div>
                                    </div>
                                    <!--   <button mat-stroked-button color="primary" class="m-t-16 w-100">Need Help?</button>-->
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-lg-3">
                            <mat-card class="cardWithShadow">
                                <mat-card-content class="p-y-24">
                                    <button mat-mini-fab class="bg-light-primary shadow-none rounded icon-48">
                                        <i-tabler name="certificate" class="icon-22 d-flex text-primary"></i-tabler>
                                    </button>
                                    <mat-card-title class="m-t-16">Driver License</mat-card-title>
                                    <div class="d-flex align-items-center p-y-24 b-b-1">
                                        <div class="m-l-16">
                                            <mat-card-title class="m-b-0"> Number: {{
                                                userFromCurrent?.driverLicenseNumber
                                                }}</mat-card-title>
                                            <mat-card-subtitle class="f-s-14">
                                                Exp: {{ userFromCurrent?.expDriverLicense | date:'mediumDate' }}
                                            </mat-card-subtitle>

                                            <img *ngIf="showDriverLicense" [src]="DriverLicenseUrl" alt="Driver License"
                                                class="w-100 m-t-12" />

                                            <button mat-flat-button color="primary" class="m-t-24"
                                                (click)="toggleDriverLicense()">
                                                {{ showDriverLicense ? 'Hide Driver License card' : 'See Driver
                                                License card' }}
                                            </button>
                                        </div>

                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-lg-3">
                            <mat-card class="cardWithShadow">
                                <mat-card-content class="p-y-24">
                                    <button mat-mini-fab class="bg-light-primary shadow-none rounded icon-48">
                                        <i-tabler name="certificate" class="icon-22 d-flex text-primary"></i-tabler>
                                    </button>
                                    <mat-card-title class="m-t-16">Social Security</mat-card-title>
                                    <div class="d-flex align-items-center p-y-24 b-b-1">
                                        <div class="m-l-16">
                                            <mat-card-title class="m-t-16">
                                                SSN: ***-**-{{ userFromCurrent?.ssnn }}
                                            </mat-card-title>

                                            <!-- Imagen solo cuando se solicita -->
                                            <img *ngIf="showSsn" [src]="ssnUrl" alt="Social Security card"
                                                class="w-100 m-t-12" />

                                            <button mat-flat-button color="primary" class="m-t-24"
                                                (click)="toggleSsn()">
                                                {{ showSsn ? 'Hide Social Security card' : 'See Social Security
                                                card' }}
                                            </button>
                                        </div>

                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-lg-3">
                            <mat-card class="cardWithShadow">
                                <mat-card-content class="p-y-24">
                                    <button mat-mini-fab class="bg-light-primary shadow-none rounded icon-48">
                                        <i-tabler name="certificate" class="icon-22 d-flex text-primary"></i-tabler>
                                    </button>
                                    <mat-card-title class="m-t-16">Insurance</mat-card-title>
                                    <div class="d-flex align-items-center p-y-24 b-b-1">
                                        <div class="m-l-16">
                                            <mat-card-title class="m-t-16">
                                                Exp Insurance: {{ userFromCurrent?.expInsurance | date:'mediumDate' }}
                                            </mat-card-title>

                                            <!-- Imagen solo cuando se solicita -->
                                            <img *ngIf="showInsurance" [src]="insuranceUrl" alt="Insurance card"
                                                class="w-100 m-t-12" />

                                            <button mat-flat-button color="primary" class="m-t-24"
                                                (click)="toggleInsurance()">
                                                {{ showInsurance ? 'Hide Insurance card' : 'See Insurance card' }}
                                            </button>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </mat-card-content>
            </mat-tab>
            <mat-tab *ngIf="local_data?.userRole !== 'Applicant'">
                <ng-template mat-tab-label>
                    <div class="d-flex align-items-center">
                        <mat-icon class="d-flex align-items-center">
                            <i-tabler name="route" class="icon-20 m-r-8 d-flex"></i-tabler>
                        </mat-icon>
                    </div>
                    Routes
                </ng-template>

                <mat-card-content class="p-y-24">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <mat-card class="cardWithShadow">
                                <mat-card-content class="p-y-24">
                                    <mat-card-title class="m-b-24">Route History</mat-card-title>

                                    <div class="row">

                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </mat-card-content>
            </mat-tab>

            <mat-tab disabled>
                <ng-template mat-tab-label>
                    <span class="tab-spacer"></span>
                </ng-template>
            </mat-tab>

            <!-- “Tab” de descarga a la derecha 

                <ng-template mat-tab-label>
                    <button mat-icon-button class="tab-download-btn" [disabled]="loading"
                        (click)="$event.stopPropagation(); onDownload()" matTooltip="Download" aria-label="Download">
                        <i-tabler name="download" class="icon-20 d-flex"></i-tabler>
                    </button>
                </ng-template>
             
                <ng-template matTabContent></ng-template>
            </mat-tab> -->

        </mat-tab-group>

    </mat-card>