<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>Warehouse Volumen</mat-card-title>
    <mat-card-subtitle class="f-s-14 f-w-400">Every month </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- ---------------------------- -->
    <!-- charts here -->
    <!-- ---------------------------- -->
    <apx-chart [series]="salesoverviewChart.series" [plotOptions]="salesoverviewChart.plotOptions"
      [dataLabels]="salesoverviewChart.dataLabels" [chart]="salesoverviewChart.chart" [noData]="salesoverviewChart.noData"
      [legend]="salesoverviewChart.legend" [colors]="salesoverviewChart.colors" [tooltip]="salesoverviewChart.tooltip"
      [labels]="salesoverviewChart.labels" [stroke]="salesoverviewChart.stroke"></apx-chart>




  </mat-card-content>
</mat-card>