<mat-card class="dashboard-card driver-card">
  <div class="card-header">
    <div>
      <h3>Best & Worst Driver</h3>
      <p>Performance score by driver</p>
    </div>

    <mat-form-field class="date-picker" appearance="outline">
      <mat-label>Select date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="selectedDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-card-content class="driver-content">
    <div class="driver-legend">
      <div class="legend-item">
        <span class="legend-dot best"></span>
        <span>Best Driver</span>
      </div>

      <div class="legend-item">
        <span class="legend-dot worst"></span>
        <span>Worst Driver</span>
      </div>
    </div>

    <apx-chart *ngIf="isBrowser && revenuetwoChart?.chart && revenuetwoChart?.series?.length"
      [series]="revenuetwoChart.series" [dataLabels]="revenuetwoChart.dataLabels" [chart]="revenuetwoChart.chart"
      [noData]="revenuetwoChart.noData" [legend]="revenuetwoChart.legend" [xaxis]="revenuetwoChart.xaxis"
      [yaxis]="revenuetwoChart.yaxis" [grid]="revenuetwoChart.grid" [stroke]="revenuetwoChart.stroke"
      [tooltip]="revenuetwoChart.tooltip" [plotOptions]="revenuetwoChart.plotOptions">
    </apx-chart>

  </mat-card-content>
</mat-card>