<!-- Contenedor del spinner que cubre todo el diálogo -->
<div class="loading-overlay" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>


<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between gap-16">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput placeholder="Search Warehouse" (keyup)="applyFilter($any($event.target).value)" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20 d-flex m-t-2"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <!-- add employee -->
        <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
          Add Warehouse
        </button>

      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">

        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Company</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center gap-16">
              <div>
                <h6 class="f-w-600 f-s-16 m-t-0">
                  {{ element.company }}
                </h6>
                <span class="f-s-14">{{ element.Position }}</span>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Address
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.address }}
          </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            City
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.city }}
          </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            State
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.state }}
          </td>
        </ng-container>
         <ng-container matColumnDef="manager">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Manager
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.manager }}
          </td>
        </ng-container>


        <ng-container matColumnDef="sendPayroll">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Send Payroll
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.sendPayroll ? '✅' : '❌' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="isHiring">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Hiring
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.isHiring ? '✅' : '❌' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a [routerLink]="['/apps/smsContact', element.id]" class="m-r-10 cursor-pointer"
              title="Manage hiring messages"><i-tabler name="message" class="icon-18"></i-tabler> </a>
            <a [routerLink]="['/apps/zoneWarehouse', element.id]" class="m-r-10 cursor-pointer"
              title="Manage zones"><i-tabler name="road" class="icon-18"></i-tabler> </a>
            <a (click)="openDialog('Update', element)" class="m-r-10 cursor-pointer" title="Update Warehouse"><i-tabler
                name="edit" class="icon-18"></i-tabler></a>
            <!--  <a (click)="openDialog('Delete', element)" class="cursor-pointer" title="Delete Warehouse">
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>