<mat-card class="cardWithShadow">
    <mat-card-content class="p-y-24">
        <mat-card-title>Change Password</mat-card-title>
        <mat-card-subtitle class="f-s-14">To change your password please confirm here</mat-card-subtitle>

        <form [formGroup]="form" (ngSubmit)="submit()" class="m-t-24">
            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Current Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="currentPassword" placeholder="Enter old password">
            </mat-form-field>

            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">New Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="newPassword" placeholder="Enter new password">
            </mat-form-field>

            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Confirm Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm new password">
            </mat-form-field>

            <div class="m-t-16 text-end">
                <button mat-flat-button color="primary" type="submit" [disabled]="loading || form.invalid">
                    {{ loading ? 'Updating...' : 'Change Password' }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>