.expanded-detail-row td {
    background: #fafafa;
    border-top: 1px solid #e0e0e0;
    padding: 0 !important;
}

.expanded-detail-row table {
    margin: 0;
}

.applicant-row.expanded {
    background-color: #f8f9fa;
}

/* ==== Recruiter ==== */
.mat-mdc-table .mat-mdc-cell.recruiter-ok,
.mat-mdc-table td.recruiter-ok {
    color: #0f9d58 !important;
    font-weight: 600 !important;
}

/* verde Google-ish */
.recruiter-none {
    color: #9aa0a6;
}

/* gris mute */

/* ==== Stage (pinta el campo y el texto del select) ==== */




// gris

/* (Opcional) colorear la opción seleccionada en el panel del dropdown */
:host ::ng-deep .stage-panel .mdc-list-item--selected .mdc-list-item__primary-text {
    font-weight: 700;
}

.clickable {
    cursor: pointer !important;
}

.bulk-action-bar {
    position: sticky;
    top: 64px;
    /* ajusta según tu toolbar/header */
    z-index: 100;
    background: #fff;
    padding: 12px 0;
    margin-bottom: 8px;

    display: flex;
    justify-content: flex-end;

    /* sombra suave para efecto flotante */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}