<mat-card class="cardWithShadow">
  <mat-card-header class="d-flex">
    <div class="m-r-auto">
      <mat-card-title>Warehouse Ranking</mat-card-title>
      <mat-card-subtitle>Performance by Warehouse</mat-card-subtitle>
    </div>
    <div class="d-flex align-items-center">
      <mat-form-field appearance="outline" class="date-picker">
        <mat-label>Select Date Range</mat-label>

        <!-- ✅ Correctly binding datepicker to input -->
        <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start Date">
          <input matEndDate formControlName="end" placeholder="End Date">
        </mat-date-range-input>

        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker (closed)="onDateChange()"></mat-date-range-picker>
      </mat-form-field>
    </div>


  </mat-card-header>

  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource"     matSort
       matSortActive="averageLOSPerDay"
       matSortDirection="desc"
       matSortDisableClear
       class="w-100">

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600" mat-sort-header>#</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ getIndex(i) }}
          </td>
        </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="WarehouseId">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600" mat-sort-header>City</th>
          <td mat-cell *matCellDef="let element"> {{ getWarehouseName(element.warehouseId) }}</td>
        </ng-container>

        <!-- Name & Role Column -->
        <ng-container matColumnDef="TotalVolume">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600" mat-sort-header>Volumen</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center gap-16">
              <div>
                <h6 class="f-w-600 f-s-16 m-t-0">{{ element.totalVolume }}</h6>

              </div>
            </div>
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="TotalStops">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600" mat-sort-header>Stops</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.totalStops }}
          </td>
        </ng-container>

        <!-- Mobile Column -->
        <ng-container matColumnDef="TotalAttempts">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600" mat-sort-header>Attempts</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.totalAttempts }}
          </td>
        </ng-container>

        <!-- Date of Joining Column -->
        <!-- Salary Column -->
        <ng-container matColumnDef="TotalCNL">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600" mat-sort-header>CNL</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{element.totalCNL}}
          </td>
        </ng-container>
        <ng-container matColumnDef="DPOM">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600" mat-sort-header>DPOM</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ (element.totalCNL*1000000)/element.totalVolume | number:'1.0-0'}}
          </td>
        </ng-container>

        <!-- Projects Column -->
        <ng-container matColumnDef="AverageLOSPerDay">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600" mat-sort-header>LOS%</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.losPercentage | number:'1.2-2' }} %
          </td>
        </ng-container>
        <ng-container matColumnDef="averageBranchOnTimePerDay">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600" mat-sort-header>Branch On Time</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.averageBranchOnTimePerDay }}%

          </td>
        </ng-container>
        <ng-container matColumnDef="Ranking">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600" mat-sort-header>Ranking</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            <!--  {{ element.ranking | number:'1.4-4'}} -->
            {{calcularRankingConVolumen(element.ranking,element.totalVolume,element.losPercentage,((element.totalCNL*1000000)/element.totalVolume))
            | number:'1.4-4'}}
          </td>
        </ng-container>

        <!-- Action Column -->

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align:center;">
            No records were found for the selected date range.
          </td>
        </tr>
        <!-- Table Headers & Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

    </div>
  </mat-card-content>
</mat-card>