/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.file-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.file-label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.file-label:hover {
  background-color: #e0e0e0;
}

.file-label.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.upload-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}


.badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
  color: white;
  display: inline-block;
  font-size: 12px;
}

.badge-red {
  background-color: #e53935;
  /* rojo */
}

.badge-blue {
  background-color: #2196f3;
  /* azul primary */
}

.badge-green {
  background-color: #43a047;
  /* verde */
}

.hidden-row {
  display: none;
}

.layout-horizontal .sidebar {
  /* estilo específico */
}

/* Boxed layout */
.container-boxed {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Card border vs shadow */
.card-border .card {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, .12);
}

.managers-scroll {
  max-height: 380px;
  /* ≈ 3 managers */
  overflow-y: auto;
  padding-right: 6px;
}

/* Scroll bonito (opcional) */
.managers-scroll::-webkit-scrollbar {
  width: 6px;
}

.managers-scroll::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.map-btn {
  width: 28px;
  height: 28px;
  line-height: 28px;
  padding: 0;
  margin-bottom: 2px;
}

.map-btn mat-icon {
  font-size: 18px;
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(110px, 1fr));
  gap: 12px;
}

.summary-item {
  padding: 10px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.03);
}

.summary-item .label {
  font-size: 12px;
  opacity: .75;
  font-weight: 600;
}

.summary-item .value {
  font-size: 18px;
  font-weight: 800;
  margin-top: 2px;
}